In [13]:
import pandas as pd
from pathlib import Path
import numpy as np

In [14]:
pd.read_excel('/Users/karthiksekhar/Desktop/Routing Automation.xlsx')

optimo = pd.read_excel('/Users/karthiksekhar/Desktop/Routing Automation.xlsx', sheet_name = 'Optimo')
roster = pd.read_excel('/Users/karthiksekhar/Desktop/Routing Automation.xlsx', sheet_name = 'Roster')
Airtable = pd.read_excel('/Users/karthiksekhar/Desktop/Routing Automation.xlsx', sheet_name = 'Airtable')

In [15]:
Airtable.head()

               Customer  Driver  Arrival Number  Stop Number
0         Laurie Hughes     NaN             NaN          NaN
1  Elizabeth Deresinski     NaN             NaN          NaN
2      Josline Ferguson     NaN             NaN          NaN
3     Robinetta Wheeler     NaN             NaN          NaN
4        Alex Bankovich     NaN             NaN          NaN

In [16]:
roster.head()

                        Driver  Order amount  Arrival Number
0  Portobel  - Raul Martinez 1            19               1
1                  Josue Top 1            19               2
2  Portobel  - Raul Martinez 2            18               3
3                Ivette Lipets            15               4
4            Javier Valencia 1            19               5

In [18]:
df1 = pd.merge(optimo, roster, on= "Driver")

df2 = pd.merge(df1, Airtable, on = "Customer")

In [19]:
len(df1)

431

In [20]:
len(Airtable)

431

In [21]:
Airtable['Driver'] = df1['Driver'].values
Airtable['Arrival Number'] = df1['Arrival Number_x'].values
Airtable['Stop Number'] = df1['Stop Number'].values

In [22]:
Airtable.head()

               Customer     Driver  Arrival Number  Stop Number
0         Laurie Hughes  Abel ruiz            45.0            1
1  Elizabeth Deresinski  Abel ruiz            45.0            2
2      Josline Ferguson  Abel ruiz            45.0            3
3     Robinetta Wheeler  Abel ruiz            45.0            4
4        Alex Bankovich  Abel ruiz            45.0            5

In [23]:
Airtable.to_excel (r'C:\Users\Karthik\Desktop\Routes_Matched.xlsx', index = False, header=True)